<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Inscription</title>

  </head>

  <body class="text-center">

    <h2 class="mt-4 mb-4">Inscription</h2>

    <div class="col mt-3 col-3 mx-auto">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control", placeholder:"Prénom" %>
        </div>

        <div class="field form-group">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control", placeholder:"Nom" %>
        </div>

        <div class="field form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
        </div>

        <div class="field form-group">
          <% if @minimum_password_length %>
            <% var = "Mot de passe (#{@minimum_password_length} caractères minimum)" %>
          <% else %>
            <% var ="Mot de passe" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: var %>
        </div>

        <div class="field form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmation du mot de passe" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Let's go", class:"btn btn-primary btn-lg" %>
        </div>

      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </body>
</html>
